#inicial,{
  width: 677px;
  height: 93;
  flex-shrink: 0;
  border-radius: 25px;
  background: rgba(23, 167, 0, 0.85);
}
body {
  background-color: #026d22de;background: rgba(140, 250, 122, 0.85); /* Substitua #ff0000 pelo código da cor desejada */
}
 /* Adicione uma margem à esquerda da imagem para que ela fique no canto direito */
#imgperfil {
  margin-left: 10px;
}
/*Aumenta a altura da div "inicial" para que ela se ajuste a img*/
#inicial{
  height: 150px;
  display: flex;
  align-items: center;
}

#menu ul{
  list-style: none; /* Remove os marcadores de lista */
  padding: 0; /* Remove o preenchimento padrão da lista */
  margin: 0; /* Remove a margem padrão da lista */
}

#menu li{
  display: inline-block;
  margin-right: 10px;
  
}